.bioContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.textarea {
  border: none;
  outline: none;
  text-align: center;
  height: 40px;
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(176, 176, 176);
}


.deleteIcon {
  color: rgb(255, 57, 57);
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.myResumeContainer {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 0px rgb(225, 225, 225);
  cursor: pointer;
  margin-bottom: 20px;
align-items: center;  
  padding: 20px 0;
}
